
$font-family: 'Source Sans Pro', sans-serif;
//$font-family: 'Montserrat', sans-serif;
$heading-color: #3d4e5e;
$label-color: #3d4e5e;
$printable-border-color:gray; //border color for print items - applicant's copy, admit card etc.
$printable-bg-color: rgba(0, 0, 0, 0.08);
$printable-font-size: 11px;